<div class="fields">
    
    <p class="lable">Sub Category Name</p>
     <p class="field"><%= f.text_field :sub_category_name %></p></br>

     <p class="lable">Sub Category Type</p>
     <p class="field"><%= f.text_field :sub_category_type %></p></br>
     
     
     <p><%= link_to_remove_fields "remove", f %></p>
   </div>