<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>Categories   <div><a href="/categories/new" class="category_btn"><img src="/images/plus_1.png" alt="" /> Add Category</a></div></h1>
          </div>
        </div>
    </div>
    
	<div class="sign_left_slc">
    
    	<div class="sign_right_slc">
        <div class="signUp_area">
        	
            <div id="categoresArea">
            	
                
            	<table width="935" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    
                    <th width="230">Category Name</th>
                    <th width="50">Category Type</th>
                    <th colspan="4">Action</th>
                  </tr>
    					<%= nested_categories @categories.arrange(:order => :created_at) %> 
					        
                </table>
          </div>	
             
        </div>
     <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->