<!--sign in area defined-->
<div id="signIn_area">
	<div class="sign_in_tp">
    	<div class="sign_left">
        	<div class="sign_right">
             	<h1>Category List</h1>
          </div>
        </div>
    </div>
    
	<div class="sign_left_slc">
    
    	<div class="sign_right_slc">
        <div class="userListing">
        	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    
    <th align="left">Category Name</th>
    <th align="left">Category Type</th>
    
    
    <th align="left" class="border-right">Action</th>
    </tr>
    <tr>
    <%= render @categories %>
    
    </tr>
  </table>

        </div>
        
         <div class="clear"></div>       
      </div>
    </div>
    
    <div class="sign_ftr_slc">
    	<div class="sign_ftr_left">
        	<div class="sign_ftr_right">
            
            	
              
                
            </div>
        </div>
    </div>
</div>
<!--sign in area defined-->
