<div class="fields">
    <p class="lable">Varient Name</p>
     <p class="field"><%= f.text_field :var_name %></p></br>

     <p class="lable">Varient Length</p>
     <p class="field"><%= f.text_field :var_length %></p></br>
     
     <p><%= link_to_remove_fields "remove", f %></p>
   </div>